body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
  color: #ffffff; /* White text */
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

header p {
  margin: 0.5rem 0;
}

.social-media a img {
  width: 30px;
  margin: 0 5px;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.posts .post {
  background-color: #2C3E50; /* Light navy blue */
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.posts .post:hover {
  transform: scale(1.02);
}

.posts .post h2 {
  margin: 0 0 0.5rem 0;
  color: #3498db; /* Sky blue */
}

.posts .post h2 a {
  text-decoration: none;
  color: #3498db;
}

.posts .post h2 a:hover {
  text-decoration: underline;
}

.posts .post p {
  margin: 0;
  color: #ecf0f1; /* Light gray */
}

.post-meta {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #b0b0b0;
}

.post-content {
  background-color: #2C3E50; /* Light navy blue */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

footer { 
  background-color: #333; 
  color: white; 
  padding: 1rem; 
  text-align: center; 
  margin-top: auto; /* Footer'ı sayfanın altına yerleştirir */
}
a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
