body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
  color: #ffffff; /* White text */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: linear-gradient(90deg, #1f1f1f, #333);
  color: white;
  padding: 1rem;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: left;
}

.social-media {
  display: flex;
  justify-content: flex-end;
}

.social-media a img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  transition: transform 0.3s, filter 0.3s;
}

.social-media a img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  animation: fadeIn 2s;
}

h2 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.container {
  flex: 1;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.post-card {
  background-color: #2C3E50; /* Light navy blue */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  flex: 1 1 calc(25% - 1rem); /* 4 kart yan yana sığar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
}

.post-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #3B4A62; /* Darker navy blue */
}

.post-card h2 {
  margin: 0 0 0.5rem 0;
  color: #3498db; /* Sky blue */
}

.post-card h2 a {
  text-decoration: none;
  color: #3498db;
}

.post-card h2 a:hover {
  text-decoration: underline;
}

.post-card p {
  margin: 0;
  color: #ecf0f1; /* Light gray */
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.3s;
}

.post-card p:hover {
  color: #ffffff; /* Bright white */
}

.post-meta {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #b0b0b0;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #72c3fc; /* Lighter sky blue */
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #2980b9;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
